beautifulsoup4==4.12.3
Cython==3.0.10
datasets==2.20.0
fastapi==0.112.1
matplotlib
nltk==3.8.1
numpy==1.26.4
pandas
pexpect==4.9.0
psutil==6.0.0
PyAutoGUI==0.9.54
pydantic==2.8.2
pyperclip==1.9.0
requests==2.32.3
scikit-learn
sentence-transformers==3.0.1
sentencepiece==0.2.0
selenium==4.23.1
setuptools==69.0.2
stqdm==0.0.5
streamlit==1.37.0
streamlit-server-state==0.17.1
streamlit-autorefresh
streamlit-authenticator
torch==2.2.1
transformers==4.40.0
undetected-chromedriver==3.5.5
uvicorn[standard]
